<form hx-post="/user">
    <div hx-target="this" hx-swap="outerHTML">
        <label for="email">Email Address</label>
        <input name="email" hx-post="/validate/email" hx-indicator="#ind">
        <div id="email-validation"></div>
        <label for="firstname">First Name</label>
        <input name="firstname" hx-post="/validate/firstname" hx-indicator="#ind">
        <div id="firstname-validation"></div>
        <label for="lastname">Last Name</label>
        <input name="lastname" hx-post="/validate/lastname" hx-indicator="#ind">
        <div id="lastname-validation"></div>
    </div>
</form>