<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YACT</title>
</head>

<body>
    <header>
        <nav>

            <a href="/">Home</a>

            <a href="/users">List Users</a>

            <a href="/user" class="current">New User</a>

        </nav>
    </header>
    <main>

    </main>

    <footer>
        <p>Placeholder Landing Page</p>
    </footer>
</body>

</html>