<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YACT</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <header>
        <nav>

            <a href="/">Home</a>
            <a class="tab" hx-get="/users" hx-target="#content">List Users</div>
            <a class="tab" hx-post="/user" hx-target="#content">New User</a>
            <a class="tab" hx-delete="/user/1" hx-target="#content">Delete User</a>

        </nav>
    </header>
    <main id="content" class="content">
        <p>Good stuff goes here</p>

    </main>

    <footer>
        <p>Placeholder Landing Page</p>
    </footer>
</body>

</html>